[submodule "src/interface"]
	path = src/interface
	url = https://github.com/lathoub/AbstractMIDIinterface
[submodule "midi-Common"]
	path = midi-Common
	url = https://github.com/lathoub/midi-Common
[submodule "src/common"]
	path = src/common
	url = https://github.com/lathoub/midi-Common
